html {
    overflow-x: hidden;
}
body {
    font-family: 'Mersad', sans-serif;
    margin: 0;
    padding: 0;
    background: linear-gradient(to right, #001242 0%, #23176C 50%, #4D2E8D 100%);
    min-height: 100vh;
    overflow: hidden;
}
.container{
    display: flex;
    align-items: center;
    justify-content: center;
}
.container-inner{
    width: 90%;
}
